body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(to bottom right, #305170, #6DFC6B); */
    background-attachment: fixed;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar-left,
.navbar-right {
    flex: 0; /* Each side takes up equal space */
    margin-inline: 200px;
}

.navbar-center {
    flex: 3; /* Center takes up more space */
    text-align: center;
}

/* Logo styles */
.logo {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px; /* Add spacing between logo and content */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack items vertically on small screens */
        text-align: center; /* Center text on small screens */
    }

    .navbar-left,
    .navbar-right,
    .navbar-center {
        flex: none; /* Reset flex property */
        width: 100%; /* Each item takes up full width on small screens */
        margin-bottom: 10px; /* Add spacing between items */
    }

    .logo {
        margin-right: 0; /* Remove margin on small screens */
    }
}

/* Style for the heading */
.heading {
    font-size: 24px; /* Adjust font size */
}
h1, h2{
    color: rgb(10, 10, 10);
    text-align: center;
}
.container {
    max-width: 500px;
    margin: 30px auto;
    padding: 8px;
    /* background-image: linear-gradient(to bottom right, #305170, #6DFC6B); */
    /* filter: drop-shadow(20px 5px 5px rgba(0, 0, 0, 0.5)); */
    border-radius: 10px;
}
#registerForm, #loginForm{
    padding: 20px;
}
label{
    text-align: left;
}
input[type="text"],
input[type="password"],
input[type="email"]{
    display: block;
    width: 95%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to bottom, #6DFC6B, #305170);
    background-size: 100% 2px; 
    background-position: bottom;
    background-repeat: no-repeat;
    outline: none;
    
}

button {
    background-image: linear-gradient(to bottom right, #6DFC6B, #305170);
    color: #f5efef;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    
}
button:hover{
    background-image: linear-gradient(to bottom right, #305170, #6DFC6B);
}
.goFor{
    background-color: #d9dee2;
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 480px) {
    .container {
        margin-top: 50px;
    }
}
