body {
    font-family: Arial, sans-serif;
    /* background-color: #f2f2f2; */
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #305170, #6DFC6B);
    background-attachment: fixed;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar-left,
.navbar-right {
    flex: 0; /* Each side takes up equal space */
    margin-inline: 200px;
}

.navbar-center {
    flex: 3; /* Center takes up more space */
    text-align: center;
}

/* Logo styles */
.logo {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px; /* Add spacing between logo and content */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Stack items vertically on small screens */
        text-align: center; /* Center text on small screens */
    }

    .navbar-left,
    .navbar-right,
    .navbar-center {
        flex: none; /* Reset flex property */
        width: 100%; /* Each item takes up full width on small screens */
        margin-bottom: 10px; /* Add spacing between items */
    }

    .logo {
        margin-right: 0; /* Remove margin on small screens */
    }
}

/* Style for the heading */
.heading {
    font-size: 24px; /* Adjust font size */
}
h1{
    color: white;
    
}
.container {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-image: linear-gradient(to bottom right, #305170, #6DFC6B);
    border-radius: 10px;
    text-align: center;
    filter: drop-shadow(20px 5px 5px rgba(0, 0, 0, 0.5));
}
#registerForm, #loginForm{
    padding: 20px;
}
input[type="text"],
input[type="password"],
input[type="email"],
button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}

button {
    background-image: linear-gradient(to bottom right, #6DFC6B, #305170);
    color: #f5efef;
    cursor: pointer;
    width: 100%;
}
button:hover{
    background-image: linear-gradient(to bottom right, #305170, #6DFC6B);
}
@media screen and (max-width: 480px) {
    .container {
        margin-top: 50px;
    }
}
